@charset "utf-8"
@import "./node_modules/bulma/bulma.sass"

$text-dark: #1b1b1b
$text-light: #f6f9fc

$bg-dark: #04001c
$bg-light: #f6f9fc

body
  background-color: $bg-dark

.dark-text 
  color: $text-dark


.dark-bg 
  background-color: #04001c


.white-text 
  color: #f6f9fc


.white-bg 
  background-color: #f6f9fc

