<div class="sidebar">
  <div class="container sidebar-sticky">
    <img src="/public/egeeby_@CEvandor.png" alt="Egee by @CEvandor" />
    <div class="sidebar-about">
      <h1>
        <a href="/"> Egee's </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://www.patreon.com/egeeirl"
        >Patreon</a
      >
      <a class="sidebar-nav-item" href="/distrodelves">Distro Delves Show</a>
      <a class="sidebar-nav-item" href="https://www.youtube.com/c/Egeeirl"
        >YouTube Channel</a
      >
      <a class="sidebar-nav-item" href="https://www.twitch.tv/egeexyz"
        >Twitch</a
      >
      <a class="sidebar-nav-item" href="https://twitter.com/egee_irl"
        >Twitter</a
      >
      <a class="sidebar-nav-item" href="https://unsplash.com/@egeeirl"
        >Unsplash</a
      >
      <a class="sidebar-nav-item" href="https://github.com/egee-irl">Github</a>
      <a class="sidebar-nav-item" href="/ocs">My OC's</a>
    </nav>
    <p class="footer-note">Built with ❤️ in the Pacific Northwest 🌲</p>
  </div>
</div>
