<div class="sidebar">
  <div class="container sidebar">
    <div class="level">
      <div class="level-item has-text-centered">
        <a href="/">
          <figure class="image is-128x128">
            <img class="is-rounded" src="/public/pfp.png" />
          </figure>
        </a>
      </div>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://twitter.com/egee_irl"
        >Twitter</a
      >
      <a class="sidebar-nav-item" href="https://www.twitch.tv/egeexyz"
        >Twitch</a
      >
      <a class="sidebar-nav-item" href="https://github.com/egee-irl">Github</a>
      <a class="sidebar-nav-item" href="https://unsplash.com/@egeeirl"
        >Unsplash</a
      >
      <a class="sidebar-nav-item" href="https://soundcloud.com/egeeirl"
        >Soundercloud</a
      >

      <hr class="mine" />
      <span>YouTube Channels</span>
      <a
        class="sidebar-nav-item"
        href="https://www.youtube.com/user/EtherealGaming1"
        >OG Egee</a
      >
      <a
        class="sidebar-nav-item"
        href="https://www.youtube.com/user/PanopticonMusic1"
        >Egee Nuevo</a
      >
      <a
        class="sidebar-nav-item"
        href="https://www.youtube.com/channel/UCjaqCM6u1i78VNsoL_jW5lg"
        >Open Egee</a
      >
      <a
        class="sidebar-nav-item"
        href="https://www.youtube.com/channel/UCVE569aZRrsee3y4dvY3oGQ"
        >Egee's Archives</a
      >

      <hr class="mine" />

      <a class="sidebar-nav-item" href="/distrodelves">Distro Delves Show</a>
      <a class="sidebar-nav-item" href="/ocs">Original Characters</a>
      <a class="sidebar-nav-item" href="/games">My Games</a>
      <a class="sidebar-nav-item" href="/support">Support Me!</a>
    </nav>
  </div>
</div>
