{{yield}}
  <section class="section">
    <div class="container">
      <h1 class="title white-text">About</h1>
      <h2 class="subtitle white-text">
        I'm Brian - just an ordinary guy from the Pacific Northwest of the 🇺🇸.
      </h2>
      <h2 class="subtitle white-text">
        This website is like my virtual portfolio; I have lots of projects but these are the ones I'm most proud of.
      </h2>
      <h2 class="subtitle white-text">
        I'm a software engineer by trade, mostly Web Development, with a particular focus in DevOps, SQA, and Release Management.
        I'm well versed working remote and I have lots of experience working with teams and people from all over the world.
      </h2>
      <h2 class="subtitle white-text">
        My spoken language is English, but I'm programming language agnostic. My comfort languages are <i>JavaScript</i>, <i>Ruby</i>, <i>Python</i>,
        and <i>C#</i>, but I can quickly learn and use whatever.
      </h2>
      <h2 class="subtitle white-text">
        If you'd like to get in touch with me about a project or product, feel free to email me at <b class="white-text">brian(a)egee.io</b>.
      </h2>
      <h2 class="subtitle white-text">
        If you just want to chat or learn more about me and what I do, you can follow me on <a href="https://twitter.com/egee_irl">Twitter</a>,
        subscribe to me on <a href="https://www.youtube.com/c/Egeeirl">YouTube</a>, or,
        if you are feeling generous, support me on <a href="https://www.patreon.com/egeeirl">Patreon</a>! 
      </h2>
    </div>
  </section>
