{{yield}}
<footer class="footer white-bg">
  <div class="content has-text-centered">
    <p>
      <strong>Egee.xyz</strong> - styled with <a href="https://bulma.io/">Bulma</a>,
      powered by <a href="https://emberjs.com/">EmberJS</a>,
      and hosted in <a href="https://aws.amazon.com/s3/">S3</a>.
    </p>
  </div>
</footer>
