{{yield}}
<section class="hero is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title white-text">
        Hiya, I'm Egee 👋
      </h1>
      <h2 class="subtitle white-text">
        I build things.
      </h2>
    </div>
  </div>
</section>
