@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma-rtl.min.css";

html {
  font-family: "Nunito", "Roboto", sans-serif;
}

/* .post-title {
  font-weight: 800;
}

.post h3 {
  font-family: "Lato";
  font-style: italic;
  font-weight: 900;
}

.sidebar-about h1 {
  font-family: "Lato";
  font-style: italic;
  font-weight: 900;
}

h1 {
  font-weight: 700;
}

.sidebar-sticky img {
  max-width: 85%;
}

@media (max-width: 48em) {
  .sidebar-sticky img {
    max-width: 0%;
  }
} */
