---
---

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma-rtl.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");

$black: hsl(0, 0%, 14%);
$blacker: hsl(0, 0%, 7%);
$blackest: hsl(0, 0%, 4%);

$dark: hsl(0, 0%, 21%);
$white: hsl(0, 0%, 100%);
$light: hsl(0, 0%, 96%);
$grey: hsl(0, 0%, 86%);

$blue: hsl(217, 71%, 53%);
$cyan: hsl(204, 86%, 53%);
$turquoise: hsl(171, 100%, 41%);

html {
  font-family: "Nunito", "Roboto", sans-serif;
  background-color: $blackest;
}

p {
  font-family: "Nunito", "Roboto", sans-serif;
}

span.title {
  font-family: "Nunito", "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: $light;
}

.footer {
  background-color: $blackest;
  color: $light;
}

// span {
//   font-weight: 900;
// }

// a:link {
//   text-decoration: underline;
// }

// a.title {
//   font-size: 1.3rem;
//   font-weight: 700;
//   color: $light;
// }

p.subtitle {
  font-size: 2rem;
  font-weight: 800;
  color: $light;
}

.is-tile-link {
  max-width: 575px;
}

.tile.is-child {
  background-color: $cyan;
}

.tile.is-child:hover {
  background-color: darken($cyan, 12%);
}

a:hover {
  color: $blue;
}

a {
  font-family: "Nunito", "Roboto", sans-serif;
  color: $cyan;
}

hr {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
