---
layout: default
title: Home
---

<!-- <section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered"></div>
        <figure class="image is-128x128">
            <img src="public/face.png">
          </figure>
        <p class="subtitle">
        Egee Links!
        </p>
    </div>
</section> -->

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="level">
        <div class="level-item has-text-centered">
          <figure class="image is-128x128">
            <img class="is-rounded" src="public/face.png" />
          </figure>
        </div>
      </div>
      <p class="subtitle">Egee's Links!</p>
    </div>
  </div>
</section>

{% for topic in site.topics %}
<div class="container has-text-centered">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <a class="title" href="{{ topic.item.link }}">{{ topic.item.name }}</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<hr />
{% for topic in site.youtubes %}
<div class="container has-text-centered">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <a class="title" href="{{ topic.item.link }}">{{ topic.item.name }}</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
