html(lang="en")
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-73702747-8")
    script= "window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-73702747-8');"

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Egee.xyz - Open Sorcerer + Linux Aficionado
    link(rel="icon" type="image/png" href="./favicon.png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    script(src="https://kit.fontawesome.com/02523bcd40.js" crossorigin="anonymous")
    link(rel="stylesheet" href="./assets/style/site.css")

body
  section(class="hero background-dark is-info is-medium")
    div(class="hero-body")
      div(class="container")
        h1(class="title text-light") Hiya, I'm Brian 🐺
        h2(class="subtitle text-light") I create things.
        div(class="subtitle")
          a(href="https://github.com/egee-irl" style="color: white;")
            i(class="fab fa-github" style="font-size: 1.5em;")
          a(href="https://twitter.com/egee_irl" style="color: white;")
            i(class="fab fa-twitter fa-padding" style="font-size: 1.5em;")
          a(href="https://www.youtube.com/c/Egeeirl" style="color: white;")
            i(class="fab fa-youtube fa-padding" style="font-size: 1.5em;")
  section(class="section")
      div(class="tile is-ancestor")
        div(class="tile is-vertical is-8")
          div(class="tile")
            div(class="tile is-parent is-vertical")
              article(class="tile is-child notification is-silver")
                p(class="title")
                  a(href="https://egee.io") Egee.io
                p(class="subtitle") A community for Gamers and Artists
                  div(class="content")
                    p Created as a Discord server for fans by the YouTube channel, Egee.io grew into an active community for creative people with members from all over the world.
                    p Egee.io hosts its own game servers with monthly events and organizes local get-togethers.
              article(class="tile is-child notification is-silver")
                p(class="title")
                  a(href="https://www.deviantart.com/egee-irl") DeviantArt
                p(class="subtitle") Creative &amp; Open Artwork.
                div(class="content")
                  p A place where I showcase all the art I and others have created for Egee and the Egee.io community.
                  p I share all my <i>real</i> photography on <a href="https://unsplash.com/@egeeirl">Unsplashed</a>.
            div(class="tile is-parent")
              article(class="tile is-child notification is-silver")
                p(class="title" style="margin-bottom: .5rem;")
                  a(href="https://www.youtube.com/c/Egeeirl") Egee - YouTube
                p A YouTube channel I created in 2014 where I produce the Distro Delves series, live streams, and cover various other technical subjects.
                br
                figure(class="image is-3by2")
                  a(href="")
                    img(src="./assets/img/home.jpg")
          div(class="tile is-parent")
            article(class="tile is-child notification is-silver")
              p(class="title")
                <a href="https://soundcloud.com/egeeirl/">Soundcloud</a>
              p(class="subtitle") Podcasts &amp; Music
              div(class="content")
                p I host a casual Podcast where a <a href="https://twitter.com/pdxkcm">friend</a> and I interview developers we've worked with about their stories in software development and produce music using only Free and Open Source software.
        div(class="tile")
          div(class="tile is-parent is-vertical")
            article(class="tile is-child notification is-silver")
              p(class="title")
                <a href="https://github.com/egee-irl/jumper">jumper</a>
              p(class="subtitle") A simple PhaserJS sample game.
              div(class="content")
                p An ultra basic platformer game I made for a YouTube <a href="https://www.youtube.com/watch?v=88DS3Z8nOdY">video</a> written with PhaserJS 2 to demonstrate basic game development.
                p A successor to jumper is in the <a href="https://github.com/egee-irl/the-game">works</a> as game development is a hobby of mine.
            article(class="tile is-child notification is-silver")
              p(class="title")
                a(href="https://github.com/egee-irl/gsd-cli") gsd-cli
              p(class="subtitle") A handy CLI for managing game servers.
              div(class="content")
                p A CLI written in to help make deploying and managing dedicated game servers easier. It was originally built for the Egee.io community game servers but was rewritten to be infrastructure agnostic.
                p The gsd-cli codebase is very portable and has currently been ported to <a href="https://rubygems.org/gems/gsd-cli">Ruby</a>, <a href="https://pypi.org/project/gsdcli/">Python</a>, and <a href="https://www.npmjs.com/package/gsd-cli">NodeJS</a>.
footer(class="footer background-dark")
  div(class="content text-light has-text-centered")
    p <strong class="text-light">Egee.xyz</strong> - styled with <a href="https://bulma.io/">Bulma</a>, built with <a href="https://pugjs.org/api/getting-started.html">Pug</a>.